@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
a{
  text-decoration: none;
}
.ProjectParent {
  max-width: 90vw;
  margin: 2rem auto;
}


.MuiOutlinedInput-root{
  padding: .2rem .8rem !important;
}
.MuiInputBase-input::placeholder{
  font-size: .85rem !important;
}

